@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --primary-color: #00468c;
  --primary-color-light: #127bbc;
  --text-dark: #0f172a;
  --text-light: #6b7280;
  --extra-light: #f3f4f7;
  --white: #ffffff;
  --max-width: 1200px;
  --header-font: "DM Serif Display", serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 8rem 1rem;
  overflow-x: hidden;
}

.section__subheader {
  margin-bottom: 1rem;
  font-size: 1.6rem;
  font-weight: 500;
  font-family: var(--header-font);
  letter-spacing: 3px;
  color: var(--primary-color-light);
}

.section__header {
  /* max-width: 450px; */
  margin-inline: auto;
  font-size: 2.5rem;
  font-weight: 500;
  font-family: var(--header-font);
  color: var(--text-dark);
  line-height: 3rem;
}

.section__description {
  max-width: 450px;
  margin-block: 1rem;
  margin-inline: auto;
  color: var(--text-light);
}

.btn {
  padding: 0.75rem 1.5rem;
  outline: none;
  border: none;
  font-size: 0.9rem;
  font-family: var(--header-font);
  letter-spacing: 1px;
  color: var(--white);
  white-space: nowrap;
  background-color: purple;
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;
}

.btn:hover {
  background-color:#fff;
  color: purple;
  opacity: .8;
  /* scroll-snap-stop: 1.2; */
}

img {
  display: flex;
  width: 100%;
}

a {
  text-decoration: none;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

.header {
  background-image: url("assets/bgrci.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 90vh;
  padding: 0 10vw 0 10vw;
  position: relative;
}

/* .header::before {
  content: ""; 
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
} */

nav {
  padding: 0 10vw 0 10vw;
  position: fixed;
  left: 0;
  isolation: isolate;
  width: 100%;
  z-index: 9;
  display: flex;
  background-color: purple;
  opacity: 0.8;
  justify-content: space-between;
  min-height: 6em;
  align-items: center;
  display: flex !important;

}

.nav__header {
  padding: 1rem;
  /* width: 100%; */
  display: flex;
  /* align-items: center;
  justify-content: space-between; */
  /* background-color: var(--primary-color); */
  max-height: 5em;
}
.nav__header .logo {
  display: flex;
  flex-direction: row;
}
.nav__header .logo a {
  display: flex;
}
.nav__header .logo .rcinav {
  display: flex;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  color: var(--white);
  font-weight: 400;
  font-style: normal;
}

.nav__header .logo img {
  display: flex;

  width: 3em;
  aspect-ratio: 1;
}

.logo a {
  font-size: 1.5rem;
  font-weight: 500;
  font-style: italic;
  color: var(--white);
}

.nav__menu__btn {
  font-size: 2rem;
  color: var(--white);
  cursor: pointer;
  position: fixed;
  right: 10vw;
  z-index: 2000;
  top: 1em;
}

.nav__links {
  position: absolute;
  top: 68px;
  left: 0;
  width: 60%;
  padding: 2rem;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: right;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--extra-light);
  transition: 0.5s;
  z-index: -1;
  transform: translateY(-100%);
}

.nav__links.open {
  transform: translateY(0);
}

.link a {
  color: var(--primary-color);
  transition: 0.3s;
  position: relative;
}

nav .link a:hover::before  {
 

  width: 110%;


 

}
nav .link.active a:before {
  width: 110%;

 
}
nav .link a:before {
  position: absolute;
  content: "";
  width: 0;
  height: 0.1em;
  background-color: #fff;
  bottom: -.2em;
  left: -5%;
  border-radius: 0.5em;
  opacity: 0.7;
  transition: 0.4s;
}


.nav__btns {
  display: none;
}

.header__container {
  padding-block: 10rem;
  padding-top: 30vh;
}

.header__container h1 {
  font-size: 4rem;
  font-weight: 400;
  font-family: var(--header-font);
  color: var(--white);
}
.header__container p {
  max-width: 70%;
  padding-left: 0vw;
  font-weight: 300;
  text-align: justify;
  color: var(--white);
}

.offer__container {
  display: grid;
  gap: 2rem;
  text-align: center;
}

.offer__image {
  overflow: hidden;
}

.offer__image img {
  max-width: 400px;
  margin-inline: auto;
  border-radius: 5px;
}

.offer__content h5 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 400;
  font-family: var(--header-font);
  color: var(--text-dark);
}

.offer__ratings {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.offer__ratings span {
  font-size: 1.2rem;
  color: goldenrod;
}

.offer__ratings span:last-child {
  color: var(--text-light);
}

.offer__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.offer__btn h4 {
  font-size: 1.5rem;
  font-weight: 400;
  font-family: var(--header-font);
  color: var(--primary-color-light);
}

.service__container :is(.section__subheader, .section__header) {
  text-align: center;
}

.service__grid {
  /* margin-top: 4rem; */
  display: grid;
  gap: 15rem;
}

.service__card {
  border-radius: 5px;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between  ;
}

.service__card:hover {
  /* background-color: var(--extra-light); */
}

.service__card img {
  border-radius: 5px;
}

.service__content {
  padding: 1rem;
}

.service__content h4 {
  font-size: 1.5rem;
  font-weight: 400;
  font-family: var(--header-font);
  color: var(--text-dark);
}

.service__content p {
  margin-bottom: 1rem;
  color: var(--text-light);
  text-align: center;
}

.service__card__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;
}

.service__ratings span {
  font-size: 1.2rem;
  color: goldenrod;
}

.service__ratings span:last-child {
  color: var(--text-light);
}

.service__price {
  font-size: 1.2rem;
  font-family: var(--header-font);
  color: var(--primary-color-light);
}

.client__container {
  display: grid;
  gap: 2rem;
  /* text-align: center; */
}

.client__image img {
  /* max-width: 400px; */
  margin-inline: auto;
  border-radius: 5px;
  height: 100%;
}

.client__image img.show {
  animation: show-image 0.3s forwards;
}

.client__image img.hide {
  animation: hide-image 0.3s forwards;
}

@keyframes show-image {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hide-image {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.client__content {
  overflow: hidden;
/* display: flex;
height: 100%; */
}

.swiper {
  width: 100%;
  margin-top: 2rem;
}

.swiper-wrapper {
  padding-bottom: 2rem;
}

.client__card p {
  /* margin-bottom: 2rem; */
  color: var(--text-light);
  text-align: justify;
}
.client__card h3 {
  color: purple !important;
}

.client__details {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.client__details img {
  max-width: 60px;
  border-radius: 100%;
}

.client__details h4 {
  font-size: 1.2rem;
  font-weight: 400;
  font-family: var(--header-font);
  color: var(--primary-color-light);
}

.client__details h5 {
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--text-light);
}

.client-swiper-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.client-swiper-btns .swiper-prev,
.client-swiper-btns .swiper-next {
  padding: 5px 10px;
  font-display: 1.25rem;
  color: var(--white);
  background-color: purple;
  transition: 0.3s;
  cursor: pointer;
}

.client-swiper-btns .swiper-prev:hover,
.client-swiper-btns .swiper-next:hover {
  background-color: purple;
  opacity: 0.8;
  scale: 1.1;
}

.banner {
  overflow: hidden;
}

.banner__wrapper {
  width: max-content;
  display: flex;
  /* align-items: center; */
  gap: 1rem;
  animation: scroll 45s linear infinite;
}

@keyframes scroll {
  to {
    transform: translateX(calc(-50% - 0.5rem));
  }
}

.banner__wrapper:hover {
  animation-play-state: paused;
}

.banner__card {
  /* max-width: 300px; */
  width: 400px;
  height: 300px;
  position: relative;
  isolation: isolate;
  overflow: hidden;
  border-radius: 5px;
}
.banner__card img{
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
}
.banner__content {
  position: absolute;
  padding: 1rem;
  left: 0;
  bottom: 0;
  width: 100%;
  transform: translateY(100%);
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.8)
  );
  transition: 0.3s;
  z-index: 1;
}

.banner__card:hover .banner__content {
  transform: translateY(0);
}

.banner__content h4 {
  font-size: 1rem;
  font-weight: 300;

  color: var(--white);
}

.banner__ratings {
  margin-bottom: 0.5rem;
  display: flex;
  gap: 5px;
  color: goldenrod;
}

.banner__content p {
  color: var(--extra-light);
}

.newsletter__content {
  max-width: 900px;
  margin-inline: auto;
  padding: 4rem 1rem;
  text-align: center;
  background-color: purple;
  opacity: 1;
  border-radius: 5px;
}

.newsletter__content .section__header {
  color: var(--white);
}

.newsletter__content .section__description {
  margin-bottom: 2rem;
  color: var(--extra-light);
}

.newsletter__content form {
  max-width: 450px;
  margin-inline: auto;
  padding: 2px;
  display: flex;
  align-items: center;
  background-color: var(--white);
  border-radius: 5px;
}

.newsletter__content input {
  width: 100%;
  padding: 0.75rem;
  outline: none;
  border: none;
  font-size: 1rem;
  color: var(--text-dark);
}

.footer {
  background-color: purple;
  opacity: 1;
}
.footer__col{
  display: flex;
  flex-direction: column;
 align-items: center;
 color: var(--extra-light) !important;
}

.footer__container {
  /* display: grid;
  gap: 4rem 2rem; */
}

.footer__logo {
  margin-bottom: 1rem;
}

.footer__col .footer__logo a {
  color: var(--primary-color-light);
}

.footer__col a {
  color: var(--text-light);
  transition: 0.3s;
}

.footer__col a:hover {
  color: #ffffff;
  opacity: 0.5;
  scale: 1.5;
}

.footer__col p {
  margin-bottom: 1rem;
  /* color: var(--text); */
}

.footer__socials {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.footer__socials a {
  font-size: 1.5rem;
  color: #fff;
}

.footer__col h4 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 400;
  font-family: var(--header-font);
  color: var(--extra-light);
}

.footer__links {
  list-style: none;
  display: grid;
  gap: 1rem;
}

.footer__bar {
  padding: 1rem;
  font-size: 0.9rem;
  color: var(--extra-light);
  text-align: center;
}

@media (width> 540px) {
  /* .service__grid {
    grid-template-columns: repeat(2, 1fr);
  } */

  .footer__container {
    /* grid-template-columns: repeat(2, 1fr); */
  }
}

@media (width < 968px) {
  .nav__links{
    position: absolute;
    top:0%;
    width: 100%;
    z-index: 1000;
  }
  /* #nav__menu__btn{
   position: absolute;
  } */
}

@media (width > 968px) {
  .section__header,
  .section__description {
    margin-inline-start: unset;
  }

  nav {
    /* position: static;
    padding: 2rem 1rem;
    max-width: var(--max-width);
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem; */
 
  }

  .nav__header {
    /* flex: 1; */
    padding: 0;
    background-color: transparent;
  }

  .nav__menu__btn {
    display: none;
  }
  
  .nav__links {
    position: static;
    padding: 0;
    flex-direction: row;
    background-color: transparent;
    transform: none;
  
  }

  .nav__links a {
    color: var(--white);
  }

  .nav__btns {
    display: flex;
    flex: 1;
  }

  .offer__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: left;
  }

  .offer__ratings,
  .offer__btn {
    justify-content: flex-start;
  }

  .service__container :is(.section__subheader, .section__header) {
    text-align: center;
    padding-bottom: 5vh;
  }

  .service__grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .client__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: left;
  }

  .client__image {
    grid-area: 1/2/2/3;
    height: 400px;
    width: 500px;
 
  }
  .client__image img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    /* max-height: 400px; */
    /* max-width: 500px; */
  }

  .client__details {
    justify-content: flex-start;
  }

  .client-swiper-btns {
    justify-content: flex-start;
  }

  .newsletter__content :is(.section__header, .section__description) {
    margin-inline: auto;
  }

  .footer__container {
    /* grid-template-columns: repeat(4, 1fr); */
  }
}

@media (width > 1024px) {
  .service__grid {
    /* gap: 2rem; */
  }
}


@media (width < 1400px){
.service__grid {
    gap: 7rem;
}
}


@media (width < 1080px){
  .service__grid {
      gap: 3rem;
  }.nav__header .logo img {
    width: 2em;
   
}
  }


  @media (width < 968px){
    .service__container .section__header {
        padding-bottom: 3vh;
    }.service__container{
      padding-top: 6em;
    }
    .client-swiper-btns {
      position: absolute;
      display: flex;
      /* align-items: center; */
      justify-content: space-between;
      top: 50%;
      gap: 5px;
     width: 100%;
     transform: translateY(-50%);
     z-index: 5000;
     opacity: 0.4;
  }
    }

 
/* 
  .hidden-logo{
    display: none;
  }
*/
     @media (width < 500px){
      .header__container h1 {
    font-size: 1.5rem;
    
  }
  } 

